<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script>

        function accepted(company, service, category) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("acceptRejectDiv").innerHTML = this.responseText;
                }
            };
            xmlhttp.open("GET", "/accept_service?company=" + company + "&service=" + service + "&category=" + category, true);
            xmlhttp.send();
        }

        function rejected(company, service, category) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("acceptRejectDiv").innerHTML = this.responseText;
                }
            };
            xmlhttp.open("GET", "/reject_service?company=" + company + "&service=" + service + "&category=" + category, true);
            xmlhttp.send();
        }

    </script>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Review It</span>
        <span>Hey Admin</span>
    </nav><br><br>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add new service Category</h3>
                    <p class="card-text"></p>
                    <br>
                    <form action="/add_category" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Enter Service Category" name="service_category">
                        <div class="row"></div>
                        <br>
                        <input type="submit" name="submit" class="btn btn-success" value="Add">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-2"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Service Category</h3>
                    <p class="card-text"></p>
                    <br>
                    {% for category in categories %}
                    <form action="/delete_category" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="service_category" value="{{ category.id }}">
                        <div class="container">
                            <span>{{ category.name }}</span>
                            <button class="btn btn-danger float-right">Delete</button>
                        </div>
                        <br>
                        <hr>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>